*{
	font-family: arial;
}.top-part{

	height: 70px;
	padding: 5px;
	color: white;
	background-color: #0A5237;
	margin: none;
	
}
.top-part h3{
	font-size: 100%;
}
.header .login_button{
	float: right;
	padding-top: 2%;
	padding-right: 3%;
}
.header{
	height: 70px;
	box-shadow:0px 15px 10px -15px #888888;
	top:0;
	background-color: white;
	position: sticky;
	color: black;
}

.header .cart{
	float: right;
	padding-top: 1%;
	padding-right: 5%;
	width: 35%;
}

.header a{
	text-decoration: none;
	padding-bottom: 2%;
	color: black;
	padding-right: 3.4%;
}
.header i{
	font-size: 35px;

}
.header img{
	padding-left: 7%;
	width: 12%;
}
body{
	padding: 0;
	margin: 0;
	
}
.body{
	padding: 5%;
	height: 80%;
}

.label{
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 2%;
}
.mainpage input{
	width: 80%;
	height: 20px;
	padding: 1%;
	margin: 1%;
	font-size: 18px;
}
.body button{
	color: white;
	background-color: #0A5237;
	border: none;
	width: 20%;
	padding: 1%;
	font-size: 15px;
}
.body button{
	float: right;
	margin-right: 1%;
}
.mainpage{
	display: grid;
    padding: 1%;
	grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}
.body{
	margin-top: -3%;
	width: 70%;

}
.changep button{
	color: white;
	background-color: #0A5237;
	border: none;
	width: 20%;
	padding: 1%;
	font-size: 15px;
}
.changep input{
	text-align: center;
	font-size: 18px;
}
.footer{
	height: 50px;
	padding: 1%;
	bottom: 0;
	margin-top: 1%;
	color: white;
	background-color: #0A5237;
}
.footer p{
	font-size: 17px;

}