form label{
	font-size: 20px;
	font-weight: bold;
	float: left;
}
form input, textarea{
	height: 30px;
	border: solid black 1px;
	float: right;
	width: 300px;
	font-size: 15px;
}
textarea{
	height: 100px;
}
form{
	width: 40%;
}
.button
{
	color: white;
	font-size: 20px;
	background-color: #0A5237;
}